In [51]:
import pandas as pd
import json
import ast
import re

In [56]:
dtypes = {
    'Unnamed': "Int64",
    'Datetime': object,
    'Tweet Id':"Int64",
    'Raw content': str,
    'Text': str,
    'Username': str,
    'Reply Count': "Int16",
    'Retweet Count': "Int16",
    'Like Count': "Int16",
    'Quote Count': "Int16",
    'View Count': "Int16",
    'Hashtags': object,
    'Media': object,
    'Coordinates': object,
    'Place': object

}
unt = pd.read_csv("UNT_dataset/UNT_dataset_ids_full.csv", low_memory = False, lineterminator='\n')

In [58]:
df_UNT_small = unt.sample(n=1000)

In [60]:
df_UNT_small.to_csv("UNT_small_3.csv")

In [59]:
df_UNT_small

,Unnamed: 0,Unnamed: 0.1,Datetime,Tweet Id,Raw content,Text,Username,Reply Count,Retweet Count,Like Count,Quote Count,View Count,Hashtags,Media,Coordinates,Place
2976731,2976731,618046,2017-08-31 03:33:50+00:00,903098479530168324,RT @Kingnickrusso: Diapers and wipes came floo...,RT @Kingnickrusso: Diapers and wipes came floo...,brittanyzucker,0,124,0,0,NaN,"['HoustonStrong', 'HoustonFlood', 'Texas', 'Ho...",[Photo(previewUrl='https://pbs.twimg.com/media...,NaN,NaN
642008,642008,31237,2017-08-26 06:20:50+00:00,901328565253402624,"‚û°Ô∏èCheck FB group for family, friends messages‚Ü™...","‚û°Ô∏èCheck FB group for family, friends messages‚Ü™...",TXGal91,0,1,1,0,NaN,['Harvey'],[Photo(previewUrl='https://pbs.twimg.com/media...,NaN,NaN
2924578,2924578,565893,2017-08-31 00:46:53+00:00,903056462682968065,RT @umksig: Kappa Sig will be donating $0.25 f...,RT @umksig: Kappa Sig will be donating $0.25 f...,bonjourbreanne,0,113319,0,0,NaN,['HurricaneHarvey'],NaN,NaN,NaN
1280109,1280109,88686,2017-08-27 21:33:11+00:00,901920552591511552,RT @_iceyy_dezto: Only in Texas üòÇüèÑüèæü§òüèæ #Hurrica...,RT @_iceyy_dezto: Only in Texas üòÇüèÑüèæü§òüèæ #Hurrica...,_nyiss,0,803,0,0,NaN,['HurricaneHarvey'],[Video(thumbnailUrl='https://pbs.twimg.com/ext...,NaN,NaN
461965,461965,461965,2017-08-26 00:01:31+00:00,901233105125748736,RT @TexasTribune: Breaking: Hurricane #Harvey ...,RT @TexasTribune: Breaking: Hurricane #Harvey ...,meagodiego,0,140,0,0,NaN,['Harvey'],[Gif(thumbnailUrl='https://pbs.twimg.com/tweet...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2047351,2047351,276572,2017-08-29 04:49:30+00:00,902392743695134720,RT @hannahjoyTV: Ways you can help. #Hurricane...,RT @hannahjoyTV: Ways you can help. #Hurricane...,deuceandabuse,0,3,0,0,NaN,['HurricaneHarvey'],NaN,NaN,NaN
1303782,1303782,112359,2017-08-27 22:06:49+00:00,901929019188404225,RT @PaulFox13: This is insane. #houstonflood h...,RT @PaulFox13: This is insane. #houstonflood h...,Ikuyoru,0,9670,0,0,NaN,['houstonflood'],[Photo(previewUrl='https://pbs.twimg.com/media...,NaN,NaN
2684550,2684550,325865,2017-08-30 14:12:48+00:00,902896891079380992,RT @RepArrington: In the wake of #HurricaneHar...,RT @RepArrington: In the wake of #HurricaneHar...,Kenneth__Lara,0,5691,0,0,NaN,['HurricaneHarvey'],NaN,NaN,NaN
1053514,1053514,442743,2017-08-27 16:02:43+00:00,901837388523163649,RT @PEstrada_DPT: Med Center bayou just about ...,RT @PEstrada_DPT: Med Center bayou just about ...,velystia,0,138,0,0,NaN,"['Harvey', 'HurricaneHarvey', 'Harvey2017']",[Photo(previewUrl='https://pbs.twimg.com/media...,NaN,NaN
2333809,2333809,563030,2017-08-29 20:44:16+00:00,902633018887680003,#Harvey #donate #redcross #pray #dosomethingat...,#Harvey #donate #redcross #pray #dosomethingat...,jeffcaldwelljr,0,0,0,0,NaN,"['Harvey', 'donate', 'redcross', 'pray', 'doso...",NaN,NaN,NaN

In [30]:
dtypes = {
    'Unnamed': "Int64",
    'Datetime': object,
    'Tweet Id':"Int64",
    'Raw content': str,
    'Text': str,
    'Username': str,
    'Reply Count': "Int16",
    'Retweet Count': "Int16",
    'Like Count': "Int16",
    'Quote Count': "Int16",
    'View Count': "Int16",
    'Hashtags': object,
    'Media': object,
    'Coordinates': object,
    'Place': object

}

crisisMMD = pd.read_csv("CrisisMMD_v2.0/CrisisMMD_final_dataset.csv", dtype = dtypes)
labels_df = pd.read_csv("CrisisMMD_v2.0/hurricane_harvey_final_data.tsv", sep= '\t')

def length(text):
    '''a function which returns the length of text'''
    return len(text)

def assign_target(tweet_id):

  t_info = list(labels_df.loc[labels_df['tweet_id'] == tweet_id]['text_info'])[0]

  if t_info == "informative":
    return 1
  else:
    return 0

crisisMMD['length'] = crisisMMD['Text'].apply(length)
crisisMMD['text_info'] = crisisMMD['Tweet Id'].apply(assign_target)

In [31]:
crisisMMD.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3992 entries, 0 to 3991
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     3992 non-null   int64
 1   Idx            3992 non-null   int64
 2   Datetime       3992 non-null   object
 3   Tweet Id       3992 non-null   Int64
 4   Raw content    3992 non-null   object
 5   Text           3992 non-null   object
 6   Username       3992 non-null   object
 7   Reply Count    2917 non-null   Int16
 8   Retweet Count  3992 non-null   Int16
 9   Like Count     2917 non-null   Int16
 10  Quote Count    2917 non-null   Int16
 11  View Count     0 non-null      Int16
 12  Hashtags       2297 non-null   object
 13  Media          2912 non-null   object
 14  Coordinates    74 non-null     object
 15  Place          74 non-null     object
 16  length         3992 non-null   int64
 17  text_info      3992 non-null   int64
dtypes: Int16(5), Int64(1), int64(4), object(8)
memory usage: 467.9+ KB

In [32]:
dtypes_1 = {
    'Unnamed: 0': "Int64",
    'Unnamed: 0.1': "Int64",
    'Unnamed: 0.1.1': "Int64",
    'Datetime': object,
    'Tweet Id':"Int64",
    'Raw content': str,
    'Text': str,
    'Username': str,
    'Reply Count': "Int16",
    'Retweet Count': "Int16",
    'Like Count': "Int16",
    'Quote Count': "Int16",
    'View Count': "Int16",
    'Hashtags': object,
    'Media': object,
    'Coordinates': object,
    'Place': object,
    'Informative/Not Informative': str
}

dtypes_2 = {
    'Column1': "Int64",
    'Unnamed: 0': "Int64",
    'Unnamed: 0.1': "Int64",
    'Datetime': object,
    'Tweet Id':"Int64",
    'Raw content': str,
    'Text': str,
    'Username': str,
    'Reply Count': "Int16",
    'Retweet Count': "Int16",
    'Like Count': "Int16",
    'Quote Count': "Int16",
    'View Count': "Int16",
    'Hashtags': object,
    'Media': object,
    'Coordinates': object,
    'Place': object,
    'Informative/Not Informative': str
}

unt_1 = pd.read_csv("CrisisMMD_v2.0/UNT_small_labelled.csv", low_memory = False, dtype = dtypes_1)
unt_2 = pd.read_csv("CrisisMMD_v2.0/UNT_small_2_labelled.CSV",
                    low_memory = False,
                    sep = ";",
                    lineterminator = '\n',
                    encoding= 'unicode_escape', dtype = dtypes_2)

In [33]:
unt_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Tweet Id                     1000 non-null   Int64
 1   Unnamed: 0                   1000 non-null   Int64
 2   Unnamed: 0.1                 1000 non-null   Int64
 3   Datetime                     1000 non-null   object
 4   Raw content                  1000 non-null   object
 5   Text                         1000 non-null   object
 6   Username                     1000 non-null   object
 7   Reply Count                  1000 non-null   Int16
 8   Retweet Count                1000 non-null   Int16
 9   Like Count                   1000 non-null   Int16
 10  Quote Count                  1000 non-null   Int16
 11  View Count                   0 non-null      Int16
 12  Hashtags                     1000 non-null   object
 13  Media                        1000 non-null   object
 14  Coordinates                  22 non-null     object
 15  Place                        22 non-null     object
 16  Informative/Not Informative  998 non-null    object
dtypes: Int16(5), Int64(3), object(9)
memory usage: 111.5+ KB

In [34]:
unt_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Tweet Id                     1000 non-null   Int64
 1   Unnamed: 0                   1000 non-null   Int64
 2   Unnamed: 0.1                 1000 non-null   Int64
 3   Datetime                     1000 non-null   object
 4   Raw content                  1000 non-null   object
 5   Text                         1000 non-null   object
 6   Username                     1000 non-null   object
 7   Reply Count                  1000 non-null   Int16
 8   Retweet Count                1000 non-null   Int16
 9   Like Count                   1000 non-null   Int16
 10  Quote Count                  1000 non-null   Int16
 11  View Count                   0 non-null      Int16
 12  Hashtags                     1000 non-null   object
 13  Media                        1000 non-null   object
 14  Coordinates                  18 non-null     object
 15  Place                        18 non-null     object
 16  Informative/Not informative  994 non-null    float64
dtypes: Int16(5), Int64(3), float64(1), object(8)
memory usage: 111.5+ KB

In [35]:
unt_1 = unt_1[~unt_1['Tweet Id'].isin(crisisMMD['Tweet Id'])]

In [36]:
unt_2 = unt_2[~unt_2['Tweet Id'].isin(crisisMMD['Tweet Id'])]

In [37]:
unt_1 = unt_1.rename(columns={"Informative/Not Informative": "text_info"})

In [40]:
unt_2 = unt_2.rename(columns={"Informative/Not informative": "text_info"})

In [41]:
unt_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Tweet Id       1000 non-null   Int64
 1   Unnamed: 0     1000 non-null   Int64
 2   Unnamed: 0.1   1000 non-null   Int64
 3   Datetime       1000 non-null   object
 4   Raw content    1000 non-null   object
 5   Text           1000 non-null   object
 6   Username       1000 non-null   object
 7   Reply Count    1000 non-null   Int16
 8   Retweet Count  1000 non-null   Int16
 9   Like Count     1000 non-null   Int16
 10  Quote Count    1000 non-null   Int16
 11  View Count     0 non-null      Int16
 12  Hashtags       1000 non-null   object
 13  Media          1000 non-null   object
 14  Coordinates    18 non-null     object
 15  Place          18 non-null     object
 16  text_info      994 non-null    float64
dtypes: Int16(5), Int64(3), float64(1), object(8)
memory usage: 119.1+ KB

In [42]:
df_merged = pd.concat([crisisMMD, unt_1])

In [43]:
df_merged = pd.concat([df_merged , unt_2])

In [44]:
df_merged = df_merged.drop('Unnamed: 0.1', axis=1)

In [45]:
df_merged['length'] = df_merged['Text'].apply(length)

In [46]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5992 entries, 0 to 999
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     5992 non-null   Int64
 1   Idx            3992 non-null   float64
 2   Datetime       5992 non-null   object
 3   Tweet Id       5992 non-null   Int64
 4   Raw content    5992 non-null   object
 5   Text           5992 non-null   object
 6   Username       5992 non-null   object
 7   Reply Count    4917 non-null   Int16
 8   Retweet Count  5992 non-null   Int16
 9   Like Count     4917 non-null   Int16
 10  Quote Count    4917 non-null   Int16
 11  View Count     0 non-null      Int16
 12  Hashtags       4297 non-null   object
 13  Media          4912 non-null   object
 14  Coordinates    114 non-null    object
 15  Place          114 non-null    object
 16  length         5992 non-null   int64
 17  text_info      5984 non-null   object
dtypes: Int16(5), Int64(2), float64(1), int64(1), object(9)
memory usage: 754.9+ KB

In [47]:
df_merged = df_merged[df_merged['text_info'].notnull()]

In [49]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5984 entries, 0 to 999
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     5984 non-null   Int64
 1   Idx            3992 non-null   float64
 2   Datetime       5984 non-null   object
 3   Tweet Id       5984 non-null   Int64
 4   Raw content    5984 non-null   object
 5   Text           5984 non-null   object
 6   Username       5984 non-null   object
 7   Reply Count    4909 non-null   Int16
 8   Retweet Count  5984 non-null   Int16
 9   Like Count     4909 non-null   Int16
 10  Quote Count    4909 non-null   Int16
 11  View Count     0 non-null      Int16
 12  Hashtags       4289 non-null   object
 13  Media          4904 non-null   object
 14  Coordinates    113 non-null    object
 15  Place          113 non-null    object
 16  length         5984 non-null   int64
 17  text_info      5984 non-null   object
dtypes: Int16(5), Int64(2), float64(1), int64(1), object(9)
memory usage: 753.8+ KB

In [7]:
df_UNT_small = df_UNT.sample(n=1000)

In [50]:
df_merged.to_csv("extended_dataset.csv")

In [9]:
df_UNT_small

,Unnamed: 0,Unnamed: 0.1,Datetime,Tweet Id,Raw content,Text,Username,Reply Count,Retweet Count,Like Count,Quote Count,View Count,Hashtags,Media,Coordinates,Place
3001548,3001548,642863,2017-08-31 05:37:25+00:00,903129578217979904,Kudos to the first responders and to all of ci...,Kudos to the first responders and to all of ci...,CoachGallimore,0,3,13,0,NaN,['Harvey'],[Photo(previewUrl='https://pbs.twimg.com/media...,NaN,NaN
1706187,1706187,514764,2017-08-28 16:18:21+00:00,902203711665168384,RT @imlejanea: 5300 s. Lake Houston Pkwy. \n#h...,RT @imlejanea: 5300 s. Lake Houston Pkwy. \n#h...,xwynn_,0,123,0,0,NaN,"['houstonflood', 'HurricaneHarvey']",[Photo(previewUrl='https://pbs.twimg.com/media...,NaN,NaN
2022325,2022325,251546,2017-08-29 03:32:57+00:00,902373481295347712,Those poor people in Houston. If only there wa...,Those poor people in Houston. If only there wa...,charley_ck14,0,6,14,1,NaN,"['JoelOsteen', 'HoustonFloods']",[Photo(previewUrl='https://pbs.twimg.com/media...,NaN,NaN
3267810,3267810,909125,2017-09-01 03:55:55+00:00,903466424227811328,RT @CNN: Satellite images show #Harvey's impac...,RT @CNN: Satellite images show #Harvey's impac...,BrentGarrow,0,386,0,0,NaN,['Harvey'],[Gif(thumbnailUrl='https://pbs.twimg.com/tweet...,NaN,NaN
1263466,1263466,72043,2017-08-27 21:08:11+00:00,901914261953314817,RT @PaulFox13: This is insane. #houstonflood h...,RT @PaulFox13: This is insane. #houstonflood h...,TamaraSedai,0,9670,0,0,NaN,['houstonflood'],[Photo(previewUrl='https://pbs.twimg.com/media...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2616809,2616809,258124,2017-08-30 09:20:23+00:00,902823303022346240,RT @CNN: Fire destroyed a family's home during...,RT @CNN: Fire destroyed a family's home during...,katarzyna1401,0,874,0,0,NaN,['Harvey'],[Photo(previewUrl='https://pbs.twimg.com/media...,NaN,NaN
1265614,1265614,74191,2017-08-27 21:11:22+00:00,901915064751583232,Update: My street hasn't had power since yeste...,Update: My street hasn't had power since yeste...,samcbranson,1,0,1,0,NaN,['hurricaneharvey'],[Photo(previewUrl='https://pbs.twimg.com/media...,"Coordinates(longitude=-97.928935, latitude=30....","Place(id='c3f37afa9efcf94b', fullName='Austin,..."
2500764,2500764,142079,2017-08-30 02:10:24+00:00,902715092281806848,RT @HCSOTexas: So many have asked. Here's volu...,RT @HCSOTexas: So many have asked. Here's volu...,hobbyath,0,4360,0,0,NaN,"['harvey', 'hounews', 'HurricaneHarvey']",[Photo(previewUrl='https://pbs.twimg.com/media...,NaN,NaN
604858,604858,604858,2017-08-26 04:16:37+00:00,901297305286057984,RT @EpiscopalRelief: Continue to pray for ever...,RT @EpiscopalRelief: Continue to pray for ever...,StAnnes_Annap,0,14,0,0,NaN,['HurricaneHarvey'],[Photo(previewUrl='https://pbs.twimg.com/media...,NaN,NaN
2099602,2099602,328823,2017-08-29 11:16:38+00:00,902490168216752128,RT @itsKARY_: The interviews during #Hurricane...,RT @itsKARY_: The interviews during #Hurricane...,Onicaaaaa,0,2927,0,0,NaN,['HurricaneHarvey'],[Video(thumbnailUrl='https://pbs.twimg.com/ext...,NaN,NaN

In [12]:
text = list(df_UNT['Text'])

In [13]:
d = {}

In [14]:
def get_url_from_csv_cell(cell_content:str):
    return re.findall('.\'([^\']*)name=orig\'.', cell_content)[-1] + "name=orig"

In [15]:
def get_url_from_csv_cell_2(cell_content:str):
    return re.findall('.\'([^\']*).jpg\'.', cell_content)[-1] + ".jpg"

In [16]:
def get_url_from_csv_cell_3(cell_content:str):
    return re.findall('.\'([^\']*).png\'.', cell_content)[-1] + ".png"

In [17]:
def get_filename_from_url(url:str):
    try:
        filename = re.search('.media/([^\']*)\?.',url).group(1) + "." + re.search('.format=([^\']*)&.',url).group(1)
    except:
        try:
             filename = re.search(r'/media/([^-.]+\.*[^.]+\.[^.]+)$',url).group(1)
        except:
            try:
                filename = re.search('.video_thumb/(.*).jpg',url).group(0)
            except:
                print(url)

    return filename

In [18]:
import re
import tqdm

d = {}

"""for index, row in tqdm.tqdm(df_UNT.iterrows()):

    try:
        urls = ast.literal_eval(row['Media'])
    except:
        try:
            urls = [get_url_from_csv_cell(row['Media'])]
        except:
            try:
                urls = [get_url_from_csv_cell_2(row['Media'])]
            except:
                urls = [get_url_from_csv_cell_3(row['Media'])]

    d[row['Text']] = {
        'urls': urls,
        'filenames': [get_filename_from_url(url) for url in urls]
    }"""

def fix_media_field(entry):
    try:
        urls = ast.literal_eval(entry)
    except:
        try:
            urls = [get_url_from_csv_cell(entry)]
        except:
            try:
                urls = [get_url_from_csv_cell_2(entry)]
            except:
                urls = [get_url_from_csv_cell_3(entry)]

    return urls[0]

In [19]:
df_UNT_small['Media'] = df_UNT_small['Media'].apply(lambda x: fix_media_field(x))

In [20]:
df_UNT_small

,Unnamed: 0,Unnamed: 0.1,Datetime,Tweet Id,Raw content,Text,Username,Reply Count,Retweet Count,Like Count,Quote Count,View Count,Hashtags,Media,Coordinates,Place
3001548,3001548,642863,2017-08-31 05:37:25+00:00,903129578217979904,Kudos to the first responders and to all of ci...,Kudos to the first responders and to all of ci...,CoachGallimore,0,3,13,0,NaN,['Harvey'],https://pbs.twimg.com/media/DIiPbBPUIAACXKt?fo...,NaN,NaN
1706187,1706187,514764,2017-08-28 16:18:21+00:00,902203711665168384,RT @imlejanea: 5300 s. Lake Houston Pkwy. \n#h...,RT @imlejanea: 5300 s. Lake Houston Pkwy. \n#h...,xwynn_,0,123,0,0,NaN,"['houstonflood', 'HurricaneHarvey']",https://pbs.twimg.com/media/DIVAGxbUwAAjv1T?fo...,NaN,NaN
2022325,2022325,251546,2017-08-29 03:32:57+00:00,902373481295347712,Those poor people in Houston. If only there wa...,Those poor people in Houston. If only there wa...,charley_ck14,0,6,14,1,NaN,"['JoelOsteen', 'HoustonFloods']",https://pbs.twimg.com/media/DIXfYXEUIAEIXli?fo...,NaN,NaN
3267810,3267810,909125,2017-09-01 03:55:55+00:00,903466424227811328,RT @CNN: Satellite images show #Harvey's impac...,RT @CNN: Satellite images show #Harvey's impac...,BrentGarrow,0,386,0,0,NaN,['Harvey'],https://pbs.twimg.com/tweet_video_thumb/DInAaO...,NaN,NaN
1263466,1263466,72043,2017-08-27 21:08:11+00:00,901914261953314817,RT @PaulFox13: This is insane. #houstonflood h...,RT @PaulFox13: This is insane. #houstonflood h...,TamaraSedai,0,9670,0,0,NaN,['houstonflood'],https://pbs.twimg.com/media/DIQcNTJWAAAyx5a?fo...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2616809,2616809,258124,2017-08-30 09:20:23+00:00,902823303022346240,RT @CNN: Fire destroyed a family's home during...,RT @CNN: Fire destroyed a family's home during...,katarzyna1401,0,874,0,0,NaN,['Harvey'],https://pbs.twimg.com/media/DIXpxbOUMAAkG2I?fo...,NaN,NaN
1265614,1265614,74191,2017-08-27 21:11:22+00:00,901915064751583232,Update: My street hasn't had power since yeste...,Update: My street hasn't had power since yeste...,samcbranson,1,0,1,0,NaN,['hurricaneharvey'],https://pbs.twimg.com/media/DIQ-9s-UIAAYEn2?fo...,"Coordinates(longitude=-97.928935, latitude=30....","Place(id='c3f37afa9efcf94b', fullName='Austin,..."
2500764,2500764,142079,2017-08-30 02:10:24+00:00,902715092281806848,RT @HCSOTexas: So many have asked. Here's volu...,RT @HCSOTexas: So many have asked. Here's volu...,hobbyath,0,4360,0,0,NaN,"['harvey', 'hounews', 'HurricaneHarvey']",https://pbs.twimg.com/media/DIXpuREVAAAX11v?fo...,NaN,NaN
604858,604858,604858,2017-08-26 04:16:37+00:00,901297305286057984,RT @EpiscopalRelief: Continue to pray for ever...,RT @EpiscopalRelief: Continue to pray for ever...,StAnnes_Annap,0,14,0,0,NaN,['HurricaneHarvey'],https://pbs.twimg.com/media/DIHh9UIVwAAvslF?fo...,NaN,NaN
2099602,2099602,328823,2017-08-29 11:16:38+00:00,902490168216752128,RT @itsKARY_: The interviews during #Hurricane...,RT @itsKARY_: The interviews during #Hurricane...,Onicaaaaa,0,2927,0,0,NaN,['HurricaneHarvey'],https://pbs.twimg.com/ext_tw_video_thumb/90192...,NaN,NaN